/* 
Color Sheme:
https://coolors.co/584b53-9d5c63-d6e3f8-fef5ef-e4bb97

 */

* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
} 

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: #FEF5EF;  /* fallback for old browsers */
    width: 100%;
    height: 100%;
    text-align: center;
    color: #584B53;

}

.container {
  height: 100%;
}

header {
  padding: 3em 1em 1.5em;  
}

main {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    padding-left: 1em;
    padding-right: 1em;
}


h1 {
    font-size: 2.5em;
    margin-bottom: .7em;
    font-family: 'Lobster', cursive;    
}

p.name {
    font-size: 2em;
    font-family: 'Lobster', cursive;
    margin: .5em auto .2em;
}

.dob {
  margin-top: 1em;
  font-size: 0.9em;
}


i{
  font-size: 1em;
}


/* Card Flip Inspiration */
/* https://codepen.io/lauraalpinto/pen/qLzGBX?editors=1100 */

.grand {
    margin: 1em auto;
    width: 60vw;
    background-color: #FEF5EF;
    display: flex; 
    justify-content: center;
    align-items: center; 
    color: #FEF5EF;
    display: -webkit-box;   
    -webkit-box-pack: center;
    -webkit-box-align: center;

}

.grand-card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  height: 7rem;
  width: 100%;
  
  position: relative;
}

.card {
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  
}

.grand-facts {  
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
   background-color: #D6E3F8;
}

.grand-card:hover .grand-name {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.grand-card:hover .grand-facts {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
          background-color: #D6E3F8;
          color: #584B53;
}

.grand-name, .grand-facts {
  background-color: #9D5C63;
  /* justify-content: flex-start; */
}

.grand-name {
    border-left: 1em solid #584B53; 
}

.grand-facts {
  flex-direction: column;
  padding-top: .7em;
  border-right: 1em solid #584B53; 
}


 p.facts {
   margin-bottom: .7em;   
 }


footer {
  margin: 3em auto;
  font-size: 0.8em;
  font-weight: 700;
}

i.fas.fa-heart {
    color: red;
} 



@media (min-width: 770px) {

  .container {
    width: 770px;
  }

  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  p.name {
    font-size: 2em;
    font-family: 'Lobster', cursive;
    margin: .4em auto .17em ;
  }

  .grand {
    width: 48%;
  }
 

}